---
layout: archive
title: Projects

pagination:
    enabled: true
    collection: 'projects'
    category: 'posts'
    sort_reverse: false
    per_page: 12
    
    title: ':title - Page :num'
    trail:
        before: 2
        after: 3
---

<!--   To Do: Add content to project pages and add tags to projects with ability to sort.   -->
<br><br>

<div class="grid__wrapper">
    {% for post in paginator.posts %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
</div>

<nav class="pagination">
    {% if paginator.total_pages > 1 %}
        <ul>
            {% if paginator.previous_page %}
                <li>
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
                </li>
            {% endif %}
            {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                    <li {% if page.url == trail.path %}class="selected"{% endif %}>
                        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>