<app-maintenance></app-maintenance>

<div class="container mt-2 mb-5">
  <div class="row py-2 row-header">
    <div class="col-md-12 pt-4">
      <h3 class="h3-responsive">Other</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="color:white">
      <p>Hopefully I get around to implementing this page</p>
      <ul>
        <li>Browser Games</li>
        <li>Electronics Projects</li>
        <li>3D Models and embedded viewer</li>
        <li>Vintage computers</li>
        <li>Other random things</li>
      </ul>
    </div>
  </div>
</div>