<footer class="page-footer font-small">
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-3 text-center">
        <div class="text-center py-2">© 2020
          <a class="footer-email" href="mailto:barrettotte@gmail.com">Barrett Otte</a>
        </div>
      </div>
      <div class="col-md-6 py-3 text-center">
        <a class="li-ic" href="mailto:barrettotte@gmail.com">
          <mdb-icon fas icon="envelope" size="2x" class="mr-3 mt-1"></mdb-icon>
        </a>
        <a class="li-ic" href="https://github.com/barrettotte">
          <mdb-icon fab icon="github" size="2x" class="mr-3 mt-1"></mdb-icon>
        </a>
        <a class="li-ic" href="https://dev.to/barrettotte">
          <mdb-icon fab icon="dev" size="2x" class="mr-3 mt-1"></mdb-icon>
        </a>
        <a class="li-ic" href="https://barrettotte.itch.io/">
          <mdb-icon fab icon="itch-io" size="2x" class="mr-3 mt-1"></mdb-icon>
        </a>
        <a class="li-ic" href="https://www.linkedin.com/in/barrett-otte-564123b4/">
          <mdb-icon fab icon="linkedin" size="2x" class="mr-3 mt-1"></mdb-icon>
        </a>
      </div>
    </div>
  </div>
</footer>