
<div 
  style="background-image: url('https://raw.githubusercontent.com/barrettotte/Terrain-Generation-Study/master/Screenshot_Mesh.PNG')"
  class="container project-card-container">
  <div class="row">
    <div class="col px-0 project-card">
      <a href="#">
        <div class="hover-overlay"></div>
        <div class="rgba-stylish-strong py-3 px-4">
          <div>
            <h4 class="card-title pt-2">
              <a href="#">
                <strong>This is a Project</strong>
              </a>
            </h4>
            <p>This is a very short description of the project</p>
            <a mdbBtn class="view-btn">
              <mdb-icon far icon="clone" class="left"></mdb-icon>
              View project
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<!-- <mdb-card>
  <div class="view overlay zoom">
    <mdb-card-img 
      src="https://raw.githubusercontent.com/barrettotte/XSLT-Perlin2D/master/screenshot.PNG"
      class="img-responsive"
      alt="Project Picture">
    </mdb-card-img>
    <a>
      <div class="mask flex-center rgba-black-light"></div>
    </a>
  </div>
  <mdb-card-body>
      <mdb-card-title>
        <h4>
          <a href="#">Project Title</a>
        </h4>
      </mdb-card-title>
      <div class="project-card-body">
        This is a description for a side project I worked on
      </div>
  </mdb-card-body>
</mdb-card> -->