---
layout: home
author_profile: true
title: Portfolio
---

<br>
<div class="grid__wrapper">
  Welcome to my portfolio site, I intend to keep this somewhat up to date with my various projects in programming, electronics, and other subjects.
</div>
<br>

<div class="grid__wrapper">
  <table>
    <tbody>
      <tr style="text-align: center">
        <td style="padding-bottom: 50px;">
          <button onClick="window.location.href='#'" id="test" class="btn btn--primary btn--x-large">Programming</button>
        </td>
        <td style="padding-bottom: 50px;">
          <button onClick="window.location.href='#'" id="test" class="btn btn--primary btn--x-large">Electronics</button>
        </td>
        <td style="padding-bottom: 50px;">
          <button onClick="window.location.href='#'" id="test" class="btn btn--primary btn--x-large">Everything Else</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="grid__wrapper">
  {% for post in site.portfolio limit:8%}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>