{{ define "main"}}
  <div id="archive">
    <h1>Projects</h1>
    <p>Things I've worked on.</p>
    <ul class="post-list">
      {{ $projects := where .Site.Data.projects.list "hidden" nil }}
      {{ $projects := where $projects "long" nil }}

      <!-- Long term projects -->

      {{ $longTerm := where .Site.Data.projects.list "long" true }}
      <h2 id="long-term">
        <a href="#long-term">Long Term</a> ({{ len $longTerm }})
      </h2>

      {{ range (sort $longTerm "date" "desc") }}
        <li class="post-item">
          <time datetime="{{ time (printf "%s%s" .date "-01") }}">{{ .date }}</time>
          <span>
            {{ if .url }}
              <a href="{{ .url }}">{{ .name }}</a><div class="post-desc">: {{ .desc | markdownify }}</div>
            {{ else }}
              <span style="text-decoration:underline">{{ .name }}</span><div class="post-desc">: {{ .desc | markdownify }}</div>
            {{ end }}
          </span>
        </li>
      {{ end }}

      <!-- Projects by year -->

      {{ range (sort $projects "date" "desc") }}
        {{ $pageYear := substr .date 0 4 }}

        {{ if (ne $pageYear ($.Scratch.Get "year")) }}
          {{ $.Scratch.Set "year" $pageYear }}
          {{ $byYear := slice }}

          {{ range $projects }}
            {{ $year := printf "%4s" (index (split .date "-") 0) }}
            {{ if eq $pageYear $year }}
              {{ $byYear = $byYear | append . }}
            {{ end }}
          {{ end }}

          <h2 id="{{ $pageYear | urlize }}">
            <a href="#{{ $pageYear | urlize }}">{{ $pageYear }}</a> ({{ len $byYear }})
          </h2>
        {{ end }}

        {{ if not .hidden }}
          <li class="post-item">
            <time datetime="{{ time (printf "%s%s" .date "-01") }}">{{ .date }}</time>
            <span>
              {{ if .url }}
                <a href="{{ .url }}">{{ .name }}</a><div class="post-desc">: {{ .desc | markdownify }}</div>
              {{ else }}
                <span style="text-decoration:underline">{{ .name }}</span><div class="post-desc">: {{ .desc | markdownify }}</div>
              {{ end }}
            </span>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
