{{ define "main"}}
  <div id="archive">
    <h1>Projects</h1>
    
    {{ $projects := where .Site.Data.projects.list "hidden" nil }}
    {{ $projects := where $projects "long" nil }}

    {{ $years := slice }}
    {{ range $projects }}
      {{ $year := substr .date 0 4 }}
      {{ $years = $years | append $year }}
    {{ end }}

    {{ $years = sort (uniq $years) }}
    {{ $minYear := index $years 0 }}
    {{ $maxYear := index $years (sub (len $years) 1) }}

    <p>Projects I've worked on {{ $minYear }}-{{ $maxYear }}.</p>

    <!-- Section links -->
    <div id="section-links">
      <a href="/projects/#section-links">
        <h2 class="color-accent-1">By Year</h2>
      </a>
      <ul class="horizontal-list">
        {{ range (sort $years "value" "desc") }}
          <li><a href="/projects/#{{ . }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    </div>

    <ul class="post-list">

      <!-- Long term projects -->
      {{ $longTerm := where .Site.Data.projects.list "long" true }}
      <h2 id="long-term">
        <a href="#long-term">Ongoing</a> ({{ len $longTerm }})
      </h2>

      {{ range (sort $longTerm "date" "desc") }}
        <li class="post-item">
          <time datetime="{{ time (printf "%s%s" .date "-01") }}">{{ .date }}</time>
          <span>
            {{ if .url }}
              <a href="{{ .url }}">{{ .name }}</a><div class="post-desc">: {{ .desc | markdownify }}</div>
            {{ else }}
              <span style="text-decoration:underline">{{ .name }}</span><div class="post-desc">: {{ .desc | markdownify }}</div>
            {{ end }}
          </span>
        </li>
      {{ end }}

      <!-- Projects by year -->
      {{ range ((sort $projects "date" "asc") | collections.Reverse) }}
        {{ $pageYear := substr .date 0 4 }}

        {{ if (ne $pageYear ($.Scratch.Get "year")) }}
          {{ $.Scratch.Set "year" $pageYear }}
          {{ $byYear := slice }}

          {{ range $projects }}
            {{ $year := printf "%4s" (index (split .date "-") 0) }}
            {{ if eq $pageYear $year }}
              {{ $byYear = $byYear | append . }}
            {{ end }}
          {{ end }}

          <h2 id="{{ $pageYear | urlize }}">
            <a href="#{{ $pageYear | urlize }}">{{ $pageYear }}</a> ({{ len $byYear }})
          </h2>
        {{ end }}

        {{ if not .hidden }}
          <li class="post-item">
            <time datetime="{{ time (printf "%s%s" .date "-01") }}">{{ .date }}</time>
            <span>
              {{ if .url }}
                <a href="{{ .url }}">{{ .name }}</a><div class="post-desc">: {{ .desc | markdownify }}</div>
              {{ else }}
                <span style="text-decoration:underline">{{ .name }}</span><div class="post-desc">: {{ .desc | markdownify }}</div>
              {{ end }}
            </span>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  
  {{ partial "scroll-to-top.html" (dict "context" . "target" "/projects/#" ) }}
{{ end }}
