#archive {
  .post-list {
    padding: 0;

    .post-item {
      margin-bottom: 1rem;
      margin-left: 0;
      list-style-type: none;

      .meta {
        display: block;
        margin-right: 16px;
        min-width: 100px;
        color: $color-meta;
        font-size: 14px;
      }
    }
  }
  @media (min-width: 480px) {
    .post-list {
      .post-item {
        display: flex;
        margin-bottom: 5px;
        margin-left: 1rem;

        .meta {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #posts > ul > li,
  #projects > ul > li,
  #archive > ul > li {
    margin-left: 0;
  }

  #posts > ul > li > time,
  #projects > ul > li > time,
  #archive > ul > li time {
    margin-right: 5px;
    font-size: 0.75rem;
  }

  #archive .post-list .post-item {
    margin-left: 10px;
  }

  .post > .content > ul {
    padding-left: 0.75rem;
  }

  .post-list > h2 {
    padding-bottom: 10px;
  }
}
