<div class="container mt-4 mb-5">
  <div class="row py-2 row-header">
    <div class="col-md-7 white-text">
      <h3 class="h3-responsive">About Me</h3>
      <p *ngFor="let paragraph of aboutMe">{{paragraph}}</p>
      <br>
      <h3 class="h3-responsive">Future Goals</h3>
      <ul class="goals-list">
        <li *ngFor="let goal of goals">{{goal}}</li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 white-text mt-5">
      <app-about-panel></app-about-panel>
    </div>
  </div>
</div>