* {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html,body{
    background-color: #2e2e2e;
}

p {
    color: white;
}

a:hover {
    color: #5ED467;
}

footer { 
    background-color: #212121;
}

.row-header h3 {
    color: white;
    bottom: 5px;
}
.row-header h3:after {
    padding-top: 20px;
    content: "";
    display: block;
    border-bottom: 1px solid #a8a8a8;
}
