<div class="container">
  <div class="row">
    <div class="col mx-auto mb-4">
      <mdb-card dark="true" class="card-container">
        <mdb-card-body class="card white-text d-flex flex-column">
          <mdb-card-title class="text-center h5-responsive">
            <h5 class="card-title font-weight-bold">
              {{vintageItem.title}}
            </h5>
          </mdb-card-title>
          <mdb-card-text>
            <img class="d-block w-100" 
              src="assets/images/vintage-computer/{{vintageItem.image}}" 
              alt="{{vintageItem.title}}">
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>