<div class="container">
  <div class="row">
    <div class="col mx-auto mb-4">
      <mdb-card dark="true" class="card-container">
        <mdb-card-body class="card white-text d-flex flex-column">
          <mdb-card-title class="text-center h5-responsive">
            <h5 class="card-title font-weight-bold">
              {{vintageItem.title}}
            </h5>
            <!-- <hr class="card-separator"> -->
          </mdb-card-title>
          <mdb-card-text>
            <!-- <div class="post-desc mb-4" [innerHTML]="post.description"></div> -->
            temp
          </mdb-card-text>
          <!-- <a href="{{postUrl}}" class="white-text mt-auto align-self-end">
            <h5 class="h5-responsive post-link">Read more
              <span>
                <mdb-icon fas icon="chevron-right" class="pl-2"></mdb-icon>
              </span>
            </h5>
          </a> -->
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>