.project-container{
    padding: 15px;
    // border: 1px solid #a8a8a8;

    a{
        color: white;
    }
    a:hover{
        color: #5ED467;
    }

    .project-title{
        padding-bottom: 10px;
        font-weight: bold;
        font-size: x-large;
        color: white;
    }

    .project-desc{
        color: #a8a8a8;
    }
    .project-tags{
        padding-top: 15px;
        a{
            color: #a8a8a8;
            font-weight: 800;
            font-size: small;
            padding-left: 5px;
        }
        a:hover{
            color: #5ED467;
        }
    }
}

.category-btn{
    color: #5ED467;
}

.category-btn:hover{
    color: #26883e;
}

mdb-icon:hover{
    transform: rotate(12deg);
}

mdb-badge{
    font-size: smaller;
    background-color: #26883e;
    a{
        color: white;
    }
    .badge-text{
        padding: 3px;
    }
}

mdb-badge:hover{
    background-color: #5ED467;
}