<app-maintenance></app-maintenance>

<div class="container mt-2 mb-5">
  <div class="row py-2 row-header">
    <div class="col-md-12 pt-4">
      <h3 class="h3-responsive">Projects</h3>
    </div>
  </div>

  <div *ngIf="projects?.length === 0; else projects">
    <p>No result(s) found</p>
  </div>

  <ng-template #projects>
    <div class="row">
      <div class="col-md-6 my-3" *ngFor="let p of pagedItems">
        <app-project-card [project]="p"></app-project-card>
      </div>
    </div>
    <br>
    <div class="row mt-4 mb-2">
      <div class="col-md-12">
        <nav aria-label="Projects pagination">
          <ul *ngIf="pages && pages.length > 1" class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{disabled: currentPage === 1}">
              <a (click)="setPage(1)" class="page-link">&laquo;</a>
            </li>
            <li class="page-item" [ngClass]="{disabled: currentPage === 1}">
              <a (click)="setPage(currentPage - 1)" class="page-link">&lsaquo;</a>
            </li>
            <li *ngFor="let page of pages" class="page-item" [ngClass]="{active: currentPage === page}">
              <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled: currentPage === totalPages}">
              <a (click)="setPage(currentPage + 1)" class="page-link">&rsaquo;</a>
            </li>
            <li class="page-item" [ngClass]="{disabled: currentPage === totalPages}">
              <a (click)="setPage(totalPages)" class="page-link">&raquo;</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </ng-template>

</div>