<app-maintenance></app-maintenance>

<div class="container my-5">
  <div class="row py-2 row-header">
    <div class="col-md-12 pt-4">
      <h3>Projects</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
    <div class="col-md-3 my-3">
      <app-project-card></app-project-card>
    </div>
  </div>
</div>
