<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['']">
      Barrett Otte
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['nav-active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="navbar-brand" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['nav-active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="navbar-brand" [routerLink]="['/projects']">Projects</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['nav-active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="navbar-brand" [routerLink]="['/posts']">Posts</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['nav-active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="navbar-brand" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="navbar-brand" [routerLink]="['/other']">Other</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['nav-active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="navbar-brand" [routerLink]="['/resume']">Resume</a>
      </li>
    </ul>
  </links>
</mdb-navbar>