@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "JetBrains Mono";
  font-display: swap;
  src:
    local("JetBrains Mono"),
    local("JetBrains-Mono"),
    url("../lib/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2") format("woff2");
}
