.about-stats {
    color: var(--color-text-muted);
    font-size: 0.9em;
}

.about-list {
    padding-left: 1.5rem;

    li {
        margin-bottom: 6px;
        list-style: none;
    }
}

.about-interest-list {
    columns: 2;
}

.about-icon {
    width: 1.2em;
    margin-right: 6px;
    color: var(--color-accent-1);
    text-align: center;
}

@media screen and (max-width: 480px) {
    .about-interest-list {
        columns: 1;
        padding-left: 0;
    }
}
