#carousel10 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#journey {
    margin-top: 0.5rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #carousel10 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
