<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
  {{- partial "head" . -}}

  <body class="max-width mx-auto px3 ltr">
    <a href="#main" class="skip-link">Skip to main content</a>
    <div class="content index pt2 pb4">
      {{- partial "header" . -}}
      <main id="main" tabindex="-1">
        {{- block "main" . }}{{- end }}
      </main>
      {{- partial "footer" . -}}
    </div>

    {{- $customScript := resources.Get "js/custom.js" | minify | fingerprint "sha512" }}
    <script src="{{ $customScript.RelPermalink }}" integrity="{{ $customScript.Data.Integrity }}" defer></script>
    {{- if or (eq .Section "projects") (eq .Section "bytes") (eq .Title "My Library") }}
      {{- $filterScript := resources.Get "js/filter.js" | minify | fingerprint "sha512" }}
      <script src="{{ $filterScript.RelPermalink }}" integrity="{{ $filterScript.Data.Integrity }}" defer></script>
    {{- end }}
    {{- if eq .Type "misc/3d-models" }}
      {{- $modelsScript := resources.Get "js/models.js" | minify | fingerprint "sha512" }}
      <script src="{{ $modelsScript.RelPermalink }}" integrity="{{ $modelsScript.Data.Integrity }}" defer></script>
    {{- end }}
  </body>
</html>
