<div class="container mt-5">
  <div class="row pt-3 justify-content-center">
    <mdb-icon fas icon="tools" size="4x" class=""></mdb-icon>
  </div>
  <div class="row">
    <div class="col-md-12 py-3 text-center">
      <h1>This page is currently under maintenance :(</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 py-3 text-center">
      <div class="typewriter">
        <div class="typewriter-text">PLEASE STAND BY&nbsp;...&nbsp;</div>
      </div>
    </div>
  </div>
</div>