<div class="container">
  <div class="row">
    <div class="col mx-auto mb-4">
      <mdb-card dark="true" class="card-container">
        <mdb-card-body class="post-card white-text d-flex flex-column">
          <mdb-card-title class="text-center h5-responsive post-title">
            <a href="{{postUrl}}">
              <h5 class="post-link font-weight-bold">{{post.title}}</h5>
            </a>
            <p class="post-date">{{post.date}}</p>
            <hr class="post-separator">
          </mdb-card-title>
          <mdb-card-text>
            <div class="post-desc mb-4" [innerHTML]="post.description"></div>
          </mdb-card-text>
          <a href="{{postUrl}}" class="white-text mt-auto align-self-end">
            <h5 class="h5-responsive post-link">Read more
              <span>
                <mdb-icon fas icon="chevron-right" class="pl-2"></mdb-icon>
              </span>
            </h5>
          </a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>