{{ define "main"}}
  <div id="archive">
    <h1>Posts</h1>
    <p>
      Generally, whatever I make gets turned into a standalone project. 
      But, sometimes there are small things that aren't quite a full project that I'd like to share.
    </p>
    <ul class="post-list">
      {{ $pages := .Pages }}

      {{ range (sort $pages "Date" "desc") }}
        {{ $pageYear := (.Date.Format "2006") }}
        {{ if (ne $pageYear ($.Scratch.Get "year")) }}
          {{ $.Scratch.Set "year" $pageYear }}
          <h2>{{ $pageYear }}</h2>
        {{ end }}

        <li class="post-item">
          <time datetime="{{ time .Date }}">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</time>
          <span><a class="" href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a></span>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
