<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head" . }}

  <body class="max-width mx-auto px3 py5 ltr">
    <div class="content index py4">
      {{- partial "header" . -}}

      <article class="post">
        <header>
          <h1 class="posttitle">{{ .Title }}</h1>
          
          <div class="meta">
            <span class="author">
              <span>{{ .Site.Params.Author }}</span>
            </span>

            <div class="postdate">
              {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
              <time datetime="{{ .Date }}">{{ .Date.Format $dataFormat }}</time>
              {{ if (and .Site.Params.show_updated (ne .Lastmod .Date)) }}
                (Updated: <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format $dataFormat }}</time>)
              {{ end }}
            </div>

            {{ $showReadTime := .Site.Params.showReadTime | default false }}
            {{if $showReadTime}}
              <div class="article-read-time">
                <i class="far fa-clock"></i>
                {{ $readTime := math.Round (div (countwords .Content) 220.0) }}
                {{ $readTime }} minute read
              </div>
            {{ end }}

            <!-- 
            {{ if gt .Params.categories 0 }}
              <div class="article-category">
                <i class="fas fa-archive"></i>
                {{ range $index, $value := .Params.categories }}
                  {{ if gt $index 0 }}
                    {{ print ", " }} 
                  {{ end }}
                  <a class="category-link" href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ $value }}</a>
                {{ end }}
              </div>
            {{ end }}

            {{ if gt .Params.tags 0 }}
              <div class="article-tag">
                  <i class="fas fa-tag"></i>
                  {{ range $index, $value := .Params.tags }}
                    {{ if gt $index 0 }} {{ print "," }} {{ end }}
                    <a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}" rel="tag">{{ $value }}</a>
                  {{ end }}
              </div>
            {{ end }} 
            -->
          </div>
        </header>

        <div class="content">
          {{ .Content}}
        </div>
      </article>

      {{ partial "footer" . }}
    </div>
  </body>

  <link rel="stylesheet" href={{ "/lib/font-awesome/css/all.min.css" | relURL }}>

  <script src={{ "/lib/jquery/jquery.min.js" | relURL }}></script>
  <script src={{ "js/code-copy.js"  | relURL }}></script>

  {{ with .Params.mathjax }}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {{ end }}
</html>
