<header id="header">
  
  <div id="title">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>

    <div id="subtitle">
      <!-- Useful for debug -->
      <!-- <div class="subtitle-item" style="color:red">[{{ .Title }}]</div> -->
      <!-- <div class="subtitle-item" style="color:lime">[{{ .Section }}]</div> -->

      <div class="subtitle-item"><a href="{{ .Site.Params.links.github }}">Software Engineer</a></div>
      <div class="subtitle-item"><a href="/projects">Tinkerer</div>
      <div class="subtitle-item"><a href="{{ .Site.Params.links.anilist }}">Loser</a></div>
    </div>
  </div>

  <div id="nav">
    {{ $section := .Section }}

    {{ if not $section }}
      {{ if .IsHome }}
        {{ $section = "" }}
      {{ else }}
        {{ $section = .Params.section }}
      {{ end }}
    {{ end }}

    {{ $section = $section | printf "/%s" }}
    
    {{ range .Site.Menus.main }}
      {{ $isActive := "" }}

      <div class="nav-item">
        {{ if eq $section .URL }}
          {{ $isActive = "active" }}
        {{ else }}
          {{ $isActive = "" }}
        {{ end }}

        <a href="{{- .URL -}}" 
          {{ with $isActive }} 
            class="{{$isActive}}" 
          {{ end }}
          {{ if eq .Name "Resume" }} 
            target="_blank" rel="noopener noreferrer"
          {{ end }}
        >{{- .Name -}}</a>
      </div>
    {{ end }}
  </div>
</header>
