<header id="header">
  
  <div id="title">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <ul id="subtitle">
      <li><a href="{{ .Site.Params.links.github }}">Software Engineer</a></li>
      <li>• Tinkerer</li>
      <li>• <a href="#">Loser</a></li>
      <li style="color:red; padding-left: 15px;">[{{ .Title }}]</li>
    </ul>
  </div>

  <div id="nav">
    <ul>
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</header>
