{{ define "main"}}
  <div id="archive">
    <h1>Bytes</h1>
    <p>Small things I've worked on that never became projects/repos.</p>

    <ul class="post-list">
      {{ $bytes := .Site.Data.bytes }}

      {{ range (sort $bytes "date" "desc") }}
        {{ $pageYear := substr .date 0 4 }}
        
        {{ if (ne $pageYear ($.Scratch.Get "year")) }}
          {{ $.Scratch.Set "year" $pageYear }}
          {{ $byYear := slice }}

          {{ range $bytes }}
            {{ $year := printf "%4s" (index (split .date "-") 0) }}
            {{ if eq $pageYear $year }}
              {{ $byYear = $byYear | append . }}
            {{ end }}
          {{ end }}

          <h2 id="{{ $pageYear | urlize }}">
            <a href="#{{ $pageYear | urlize }}">{{ $pageYear }}</a> ({{ len $byYear }})
          </h2>
        {{ end }}

        {{ if not .hidden }}
          <li class="post-item">
            <time datetime="{{ time (printf "%s" .date) }}">{{ .date }}</time>
            <span>

              {{ if eq .category "ctf" }}
                <i class="far fa-lg fa-flag fa-fw"></i>
              {{ else if eq .category "kaggle" }}
                <i class="fab fa-lg fa-kaggle fa-fw"></i>
              {{ else if eq .category "3d-print" }}
                <i class="fa fa-lg fa-cubes fa-fw"></i>
              {{ else if eq .category "coding" }}
                <i class="fa fa-lg fa-code fa-fw"></i>
              {{ else if eq .category "electronics" }}
                <i class="far fa-lg fa-lightbulb fa-fw"></i>
              {{ end }}

              {{ if .url }}
                <a href="{{ .url }}">{{ .name }}</a>
              {{ else }}
                <span style="text-decoration:underline;">{{ .name }}</span>
              {{ end }}
            </span>
          </li>
        {{ end }}
      {{ end }}
    </ul>

  </div>
{{ end }}