{{ define "main"}}
  <div id="archive">
    <h1>Bytes</h1>

    {{ $bytes := .Site.Data.bytes }}

    {{ $years := slice }}
    {{ range $bytes }}
      {{ $year := substr .date 0 4 }}
      {{ $years = $years | append $year }}
    {{ end }}

    {{ $years = sort (uniq $years) }}
    {{ $minYear := index $years 0 }}
    {{ $maxYear := index $years (sub (len $years) 1) }}

    <p>Small miscellaneous things I've completed {{ $minYear }}-{{ $maxYear }}.</p>
    <p>I store some assets for things listed here in my repo named <a href="https://github.com/barrettotte/bytes">bytes</a>.</p>

    <!-- Section links -->
    <div id="section-links">
      <h2 class="color-accent-1">By Year</h2>
      <ul class="horizontal-list">
        {{ range (sort $years "value" "desc") }}
          <li><a href="/bytes/#{{ . }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    </div>

    <ul class="post-list">
      {{ range ((sort $bytes "date" "asc") | collections.Reverse) }}
        {{ $pageYear := substr .date 0 4 }}
        
        {{ if (ne $pageYear ($.Scratch.Get "year")) }}
          {{ $.Scratch.Set "year" $pageYear }}
          {{ $byYear := slice }}

          {{ range $bytes }}
            {{ $year := printf "%4s" (index (split .date "-") 0) }}
            {{ if eq $pageYear $year }}
              {{ $byYear = $byYear | append . }}
            {{ end }}
          {{ end }}

          <h2 id="{{ $pageYear | urlize }}">
            <a href="#{{ $pageYear | urlize }}">{{ $pageYear }}</a> ({{ len $byYear }})
          </h2>
        {{ end }}

        {{ if not .hidden }}
          <li class="post-item">
            <time datetime="{{ time (printf "%s" .date) }}">{{ .date }}</time>
            <span>
              {{ if eq .category "ctf" }}
                <i class="far fa-md fa-flag fa-fw"></i>
              {{ else if eq .category "kaggle" }}
                <i class="fab fa-md fa-kaggle fa-fw"></i>
              {{ else if eq .category "3d-print" }}
                <i class="fa fa-md fa-cube fa-fw"></i>
              {{ else if eq .category "code" }}
                <i class="fa fa-md fa-code fa-fw"></i>
              {{ else if eq .category "electronics" }}
                <i class="far fa-md fa-lightbulb fa-fw"></i>
              {{ else if eq .category "cert" }}
                <i class="fa fa-md fa-scroll fa-fw"></i>
              {{ else }}
                <i class="fa fa-md fa-link fa-fw"></i>
              {{ end }}

              {{ if .url }}
                <a href="{{ .url }}">{{ .name }}</a>
              {{ else }}
                <span style="text-decoration:underline;">{{ .name }}</span>
              {{ end }}
            </span>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>

  {{ partial "scroll-to-top.html" (dict "context" . "target" "/bytes/#" ) }}

{{ end }}