{{ define "main" }}
  <a href="/img/home.jpg">
    <img class="home-img" src="/img/home.jpg" alt="My computer setup"/>
  </a>

  <section id="projects">
    <span class="h1">
      <a href="/projects">Featured Projects</a>
    </span>
    <ul class="post-list">
      {{ range sort (.Site.Data.projects.list) "date" "desc" }}
        {{ if and .featured (not .hidden) }}
        <li class="post-item">
          {{ $projectDate := printf "%s%s" .date "-01" }}
          <time datetime="{{ time $projectDate }}" itemprop="datePublished">{{ .date }}</time>
          <span><a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}</span>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>

{{ end }}
