{{ define "main" }}
  <p>I’m a lifelong student aspiring to be mediocre at everything. <a href="/about">Read more</a></p>

  <section id="posts">
    <span class="h1">
      <a href="/projects">Featured Projects</a>
    </span>
    <ul class="post-list">
      {{ range sort (.Site.Data.projects.list) "date" "desc" }}
        {{ if and .featured (not .hidden) }}
          <li class="post-item">
            <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>

  <section id="projects">
    <span class="h1">
      <a href="/posts">Recent Posts</a>
    </span>
  
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
    
    <ul class="post-list">
      {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}

      {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <li class="post-item">
          <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
