{{ define "main" }}
  <article id="museum">
    <div class="content">
      <h1>{{- .Title -}}</h1>
      {{- .Content -}}

      <h2 id="computers">
        <a href="#computers">Computers</a>
      </h2>
      <ul class="gallery">
        {{ range (sort .Site.Data.museum.computers "name") }}
          <li>
            <a href="{{- .img -}}">
              <img src="{{- .img -}}" alt="{{- .name -}}"/>
            </a>
            <div class="overlay"><span>{{- .name -}}</span></div>
          </li>
        {{ end }}
      </ul>

      <h2 id="misc">
        <a href="#misc">Misc</a>
      </h2>
      <ul class="gallery">
        {{ range (sort .Site.Data.museum.misc "name") }}
          <li>
            <a href="{{- .img -}}">
              <img src="{{- .img -}}" alt="{{- .name -}}"/>
            </a>
            <div class="overlay"><span>{{- .name -}}</span></div>
          </li>
        {{ end }}
      </ul>
    </div>
  </article>
{{ end }}