<div class="container mt-2 mb-5">
  <div class="row py-2 row-header">
    <div class="col-12 pt-4">
      <h3 class="h3-responsive">Posts</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-3" *ngFor="let p of pagedItems">
      <app-post-card [post]="p"></app-post-card>
    </div>
  </div>
  <div class="row mt-3 mb-2">
    <div class="col">
      <nav aria-label="Posts pagination">
        <ul *ngIf="pages && pages.length" class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{disabled: currentPage === 1}">
            <a (click)="setPage(1)" class="page-link">&laquo;</a>
          </li>
          <li class="page-item" [ngClass]="{disabled: currentPage === 1}">
            <a (click)="setPage(currentPage - 1)" class="page-link">&lsaquo;</a>
          </li>
          <li *ngFor="let page of pages" class="page-item" [ngClass]="{active: currentPage === page}">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled: currentPage === pages.length}">
            <a (click)="setPage(currentPage + 1)" class="page-link">&rsaquo;</a>
          </li>
          <li class="page-item" [ngClass]="{disabled: currentPage === pages.length}">
            <a (click)="setPage(pages.length)" class="page-link">&raquo;</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>