mdb-carousel-item{
    max-height: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2);
}

.carousel-caption h3 a{
    font-weight: 600;
    color: white;
}

.carousel-img{
    filter: brightness(80%);
}

.carousel-caption h3 a:hover{
    font-weight: 600;
    color: #5ED467;
}

.carousel-caption p{
    font-weight: 600;
}

::ng-deep a.carousel-control-prev, ::ng-deep a.carousel-control-next {
	span {
		display: none;
	}
}