<div class="container mt-2 mb-5">
  <div class="row pt-2 row-header">
    <div class="col pt-4">
      <h3 class="h3-responsive">Resume</h3>
    </div>
  </div>
  <div class="row my-5 text-center">
    <div class="col">
      <p>
        Please consider reading my 
        <a [routerLink]="['/about']">about page</a> 
        for more information about who I am and what I'm interested in.
      </p>
      <p>
        If my resume PDF does not embed correctly,
        <a href="{{pdfUrl}}">download it here.</a>
        <br>
        I apologize for not having this 100% working on all devices and browsers.
      </p>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col text-center">
      <embed class="pdf-resume" width="75%" height="100%" type="application/pdf"
        src="https://drive.google.com/viewerng/viewer?chrome=false&embedded=true&url=https://raw.githubusercontent.com/barrettotte/Resume/master/barrettotte-resume.pdf"/>
      <!-- NOTE: 
        Could not get embed-src working with component variables. Fix looks like
        using a dom sanitizer or something...maybe do this later if you feel like it.
      -->
    </div>
  </div>
  <div class="row my-5 text-center">
    <div class="col">
      <a (click)="getPdf()">
        <div mdbBtn class="white-text link-btn text-center">
          <mdb-icon fas icon="download" class="left"></mdb-icon>
          Download
        </div>
      </a>
    </div>
    <div class="col">
      <a href="{{repoUrl}}">
        <div mdbBtn class="white-text link-btn text-center">
          <mdb-icon fas icon="code" class="left"></mdb-icon>
          View Repository
        </div>
      </a>
    </div>
  </div>
</div>