.title-row {
    color: white;
    a {
        color: white;
    }
    a:hover {
        color: #5ED467;
    }
    h1 {
        text-shadow: 2px 2px black;
    }
    .title-desc{
        font-size: larger;
    }
    .title-sep {
        color: #5ED467;
    }
}