<div class="container mt-3 mb-5">
  <div class="row text-center title-row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-2">
      <a [routerLink]="['/about']">
        <h1 class="h1-responsive font-weight-bold">Barrett Otte</h1>
      </a>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row text-center mb-4 title-row">
    <div class="col-md-12">
      <div class="h5-responsive font-weight-bold title-desc">
        <a href="https://github.com/barrettotte">Developer</a>
        <span class="title-sep mx-2">&bull;</span>
        <a href="https://anilist.co/user/barrettotte/">Loser</a>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <app-home-carousel [carouselItems]="carouselItems"></app-home-carousel>
    </div>
  </div>
  <!-- <div class="row text-center mt-5">
    <div class="col-md-12 text-center">
      <a [routerLink]="['/projects']">
        <div mdbBtn class="white-text link-btn">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          All Projects
        </div>
      </a>
      &nbsp;&nbsp;&nbsp;
      <a [routerLink]="['/projects']">
        <div mdbBtn class="white-text link-btn">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          All Posts
        </div>
      </a>
    </div>
  </div> -->
  <div class="row mt-3 mb-2 row-header">
    <div class="col-md-12 pt-4">
      <h3 class="h3-responsive">Featured Projects</h3>
    </div>
  </div>
  <div class="row mx-0 mb-3 row-eq-height">
    <div class="col-md-6 my-3" *ngFor="let fp of featuredProjects">
      <app-project-card [project]="fp"></app-project-card>
    </div>
  </div>
</div>