$color-background: #fafafa;
$color-border: #666;
$color-meta: #666;
$color-link: rgba(86, 124, 119, .4);
$color-text: #22272a;
$color-text-muted: #666;
$color-accent-1: #cc2a41;
$color-accent-2: rgba(86, 124, 119, .8);
$color-accent-3: #666;
$color-quote: #cc2a41;
