$color-background: #1d1f21;
$color-border: #666;
$color-meta: #666;
$color-link: rgba(212, 128, 170, 1);
$color-text: #c9cacc;
$color-text-muted: #888;
$color-accent-3: #cccccc;
$color-accent-2: #eeeeee;
$color-accent-1: #2bbc8a;
$color-quote: #ccffb6;
