// by @GabiThume (https://github.com/gabithume)
$color-background: #e2e0de;
$color-border: #666;
$color-meta: #666;
$color-link: rgba(43, 188, 138, 1);
$color-text: #363533;
$color-text-muted: #666;
$color-accent-3: #666666;
$color-accent-2: #111111;
$color-accent-1: #d44375;
$color-quote: #ab2251;
