// by @sergodeeva (https://github.com/sergodeeva)
$color-background: #FFFFFF;
$color-border: #666;
$color-meta: #666;
$color-link: rgba(212, 128, 170, 1);
$color-text: #383838;
$color-text-muted: #666;
$color-accent-3: #8c8c8c;
$color-accent-2: #383838;
$color-accent-1: #2bbc8a;
$color-quote: #2bbc8a;
